:root {
    --font-title: Prompt, Arial, Helvetica, sans-serif;
    --font-body: Montserrat, Arial, Helvetica, sans-serif;
    --color-1: #1b2c75;
    --color-2: #ffcb01;
    --color-3: #00b49d;
    --color-4: #57598c;
    --color-5: #252525;
    --color-6: #86bee4;
    --color-white: #FFFFFF;
    --color-gray: #EFEFEF;
    --color-black: #000000;
    --color-error: #F00;
    --color-valid: rgb(29, 192, 56);
    --color-selected: #00806F;

    --color-gold: #FFD700;
    --color-silver: #C0C0C0;
    --color-bronze: #CD7F32;
}

body {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 60px auto auto auto;
    margin: 0;
    padding: 0;
    font-family: var(--font-body);
}
h1, h2, h3, h4, h5 {
    font-family: var(--font-title);
}
h1 {
    text-align: center;
}

header {
    background-color: var(--color-1);
    color: var(--color-white);
    display: grid;
    grid-template-columns: 54px auto 54px;
    grid-template-rows: 60px auto;
    height: 60px;
}
#menu-icon {
    text-align: center;
    height: 44px;
    margin: 8px 16px 0 16px;
    padding-top: 8px;
}
#menu-icon .close-icon {
    display: none;
}
#menu-icon.close .close-icon {
    display: block;
}
#menu-icon.close .open-icon {
    display: none;
}
#logo-header {
    height: 44px;
    margin: 8px 0;
    display: flex;
    gap: 8px;
    justify-content: center;
}
#logo-header-icon {
    height: 100%;
}
#logo-header-icon img {
    height: 100%;
}
#logo-header-text {
    height: 44px;
    line-height: 44px;
    display: none;
}
nav {
    grid-column: span 3;
    grid-row: 2;
    background-color: var(--color-4);
    z-index: 1;
    display: none;
}
nav.show {
    display: block;
}
nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
nav ul li a {
    padding: 8px 0;
    color: var(--color-white);
    text-decoration: none;
    display: block;
    text-align: center;
}
nav ul li a:hover {
    background-color: var(--color-3);
}
nav ul li a.active, nav ul li a.active:hover {
    background-color: var(--color-5);
}

#main-banner {
    background-color: var(--color-5);
    background-image: url(../images/dark-wood-background.jpg);
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 8px;
    padding: 8px 16px;
    text-align: center;
    color: var(--color-white);
}
#main-banner h1 {
    margin:16px auto 0 auto;
}
#main-banner p {
    margin: 0;
}
#main-banner button,
#main-banner a {
    display: inline-block;
    border-radius: 100px;
    padding: 8px 32px;
    margin-top: 8px;
    background-color: var(--color-white);
    border: none;
    color: var(--color-1);
    font-size: 12px;
    font-weight: bold;
    cursor: pointer;
    text-decoration: none;
}
#main-banner button:hover,
#main-banner a:hover {
    background-color: var(--color-3);
    color: var(--color-black);
}

main {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto;
    gap: 16px;
    margin: 16px 16px 0 16px;
}

main > section {
    border: solid 1px var(--color-3);
    border-radius: 8px;
}
main > section h2 {
    background-color: var(--color-3);
    margin: 0;
    padding: 16px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

main > section .card {
    margin: 16px;
    padding: 8px;
    border-radius: 4px;
    border: solid 1px var(--color-gray);
    display: grid;
    grid-template-columns: 100px auto;
    gap: 8px;
}
main > section .card.weather {
    grid-template-columns: 204px auto;
    grid-template-rows: auto auto;
}

main > section .card img {
    width: 100%;
    border-radius: 4px;
}
main > section .card.weather img {
    grid-row: span 2;
    justify-self: center;
}

main > section .card.weather h3 {
    grid-column: 2;
}

#weather-section .card p {
    text-transform: capitalize;
}

#advertisements {
    margin: 16px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto;
    justify-content: center;
    gap: 16px;
}
.adv {
    background-color: var(--color-1);
    color: var(--color-white);
    padding: 32px 16px;
    border-radius: 8px;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
}
.adv:hover {
    background-color: var(--color-3);
    color: var(--color-black);
    
}

footer {
    background-color: var(--color-5);
    color: var(--color-white);
    text-align: center;
    padding-top: 32px;
    display: grid;
    grid-template-columns: 1fr;
    font-size: 12px;
}
footer > div {
    margin-bottom: 16px;
}
footer a {
    color: var(--color-6);
    text-decoration: none;
}
footer a:hover {
    text-decoration: underline;
}
footer p {
    margin: 0;
}



.discover-content {
    grid-column: span 6;
    grid-row: 1;
}

.discover-content .discover-content-img {
    margin-bottom: 16px;
    border-radius: 8px;
    transition: transform .2s;
}
.discover-content .discover-content-img img {
    border-radius: 8px 8px 0 0;
    width: 100%;
    height: auto;
}
.discover-content .discover-content-img span {
    display: inline-block;
    background-color: var(--color-1);
    color: var(--color-white);
    font-size: 14px;
    padding: 8px 16px;
    width: calc(100% - 32px);
    border-radius: 0 0 8px 8px;
    margin: -5px 0 0 0;
}

.discover-sidebar {
    grid-column: span 6;
    grid-row: 2;
}
.discover-sidebar-block {
    border: solid 1px var(--color-4);
    border-radius: 8px;
    margin-bottom: 16px;
}
.discover-sidebar-block h4 {
    background-color: var(--color-4);
    color: var(--color-white);
    margin: 0;
    border-radius: 6px 6px 0 0;
    padding: 8px 8px;
    font-weight: 400;
}
.discover-sidebar-block p {
    margin: 8px;
}
.discover-sidebar-block img {
    width: calc(100% - 16px);
    height: auto;
    margin: 8px;
}

.discover-sidebar-block button {
    width: calc(100% - 16px);
    margin: 8px;
}
.discover-sidebar-block .secondary-button {
    margin-top: 0;
}

.primary-button, .secondary-button {
    padding: 8px;
    border-radius: 4px;
    cursor: pointer;
}
.primary-button {
    background-color: var(--color-3);
    border: solid 1px var(--color-3);
    color: var(--color-black);
}
.primary-button:hover, .secondary-button:hover {
    background-color: var(--color-5);
    color: var(--color-white);
    border: solid 1px var(--color-5);
}
.secondary-button {
    border: solid 1px var(--color-3);
    background-color: var(--color-white);
    color: var(--color-black);
}

.newsletter-input {
    width: calc(100% - 32px - 2px);
    margin: 8px 8px 0 8px;
    padding: 8px;
    border-radius: 4px;
    cursor: pointer;
    border: solid 1px var(--color-3);
}
.newsletter-label {
    margin: 8px 8px 0 8px;
    display: inline-block;
    font-size: 14px;
}


/*JOIN PAGE*/
h1 {
    grid-column: span 6;
    margin-top: 32px;
}
#form-join-page {
    grid-column: span 6;
}
#form-join-page fieldset {
    border-radius: 8px;
    padding: 16px;
}
#form-join-page fieldset label {
    display: block;
    font-size: 14px;
    color: var(--color-1);
    margin-top: 16px;
}
#form-join-page fieldset label input[type="text"],
#form-join-page fieldset label input[type="tel"],
#form-join-page fieldset label input[type="email"],
#form-join-page fieldset label textarea {
    display: block;
    width: calc(100% - 36px);
    padding: 8px 16px;
    border-radius: 4px;
    border: solid 1px var(--color-5);
    margin: 4px 0 16px 0;
}
#form-join-page fieldset label input:required {
    border: solid 1px var(--color-error);
    border-right: solid 8px var(--color-error);
    width: calc(100% - 44px);
}
#form-join-page fieldset label input:required:valid {
    border: solid 1px var(--color-valid);
    border-right: solid 8px var(--color-valid);
    width: calc(100% - 44px);
}
#form-join-page fieldset label.radio {
    color: var(--color-5);
    margin-top: 8px;
    cursor: pointer;
}
#form-join-page fieldset label.radio input {
    margin-right: 8px;
}
#form-join-page fieldset label.radio:last-child {
            margin-bottom: 16px;
}
#form-join-page fieldset input[type="submit"] {
    width: 100%;
    padding: 8px;
    cursor: pointer;
    background-color: var(--color-3);
    border: none;
    border-radius: 4px;
    color: var(--color-black);
}
#form-join-page fieldset input[type="submit"]:hover {
    background-color: var(--color-2);
}
.cost-and-benefits {
    border-radius: 8px;
    grid-column: span 6;
    padding: 16px;
}
.cost-and-benefits .data-for-level {
    display: none;
}
.cost-and-benefits .cost {
    display: block;
    width: 100%;
    text-align: center;
}
.cost-and-benefits .cost > span:first-child {
    font-size: 36px;
    display: block;
}
.cost-and-benefits .cost span:last-child {
    font-size: 14px;
}
.cost-and-benefits .benefits {
    display: block;
    width: 100%;
    text-align: left;
}
.cost-and-benefits .benefits ul {
    margin: 32px -16px 0 -16px;
    padding: 0;
    list-style: none;
}
.cost-and-benefits .benefits ul li {
    margin: 0;
    color: var(--color-5);
    border-left: solid 5px var(--color-white);
    padding: 8px 8px;
    cursor: default;
    transition: all 0.3s ease-in-out 0s;
}
.cost-and-benefits .benefits ul li > span {
    color: var(--color-1);
}         
.cost-and-benefits .benefits  li:hover {
    background-color: var(--color-gray);
    border-left: 5px solid var(--color-2);
}
.thankyoupage-message {
    grid-column: span 6;
    margin: 0 0 32px 0;
}


.mainContent {
    grid-column: span 6;
    margin: 32px;
}

.listOrGrid.grid {
    display: grid;
	grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
	grid-gap: 8px;
	justify-content: space-between;
}

.listOrGrid.grid > section {
    overflow: hidden;
    padding: 16px;
    background-color: #f0f0f0;
    border-radius: 8px;
}
.listOrGrid.list > section {
    overflow: hidden;
    padding: 16px;
    background-color: #f0f0f0;
    border-radius: 8px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 18px 32px 32px 32px;
    margin-bottom: 8px;
}

.listOrGrid .tagLevel {
    display: inline-block;
    padding: 4px 16px;
    border-radius: 8px;
    color: var(--color-white);
    font-size: 10px;
    font-weight: bold;
}

.listOrGrid .tagLevel.Gold {
    border: solid 2px var(--color-gold);
    background-color: var(--color-white);
    color: var(--color-5);
}
.listOrGrid .tagLevel.Silver {
    border: solid 2px var(--color-silver);
    background-color: var(--color-white);
    color: var(--color-5);
}
.listOrGrid .tagLevel.Bronze {
    border: solid 2px var(--color-bronze);
    background-color: var(--color-white);
    color: var(--color-5);
}



.listOrGrid > section > .iconSpace {
    text-align: center;
}
.listOrGrid.list > section > .iconSpace {
    grid-column: 1;
    grid-row: span 2;
    margin-top: 8px;
}
.listOrGrid > section > .iconSpace > i {
    font-size: 48px;
    text-align: center;
    margin-bottom: 16px;
}

.listOrGrid .nameSpace {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 16px;
    text-align: center;
}
.listOrGrid.list .nameSpace {
    grid-column: 1;
}

.listOrGrid .phoneSpace {
    text-align: center;
    width: 100%;
    display: inline-block;
    font-size: 14px;
    margin-bottom: 8px;
}
.listOrGrid.list .phoneSpace {
    grid-area: 2 / 2 / 2 / 4;
}

.listOrGrid .addressSpace {
    font-size: 14px;
    margin-bottom: 8px;
    text-align: center;
}
.listOrGrid.list .addressSpace {
    grid-area: 3 / 2 / 3 / 4;
}

.listOrGrid .urlSpace {
    text-align: center;
    width: 100%;
    display: inline-block;
    font-size: 14px;
    margin-bottom: 8px;
}
.listOrGrid.list .urlSpace {
    grid-area: 4 / 2 / 4 / 4;
}

.mainContent button {
    border: none;
    background: none;
    background-color: var(--color-4);
    color: var(--color-white);
    font-size: 20px;
    padding: 8px 16px;
    border-radius: 4px;
    margin:0 8px 32px 0;
    cursor: pointer;
}
.mainContent button.selected {
    background-color: var(--color-selected);
}

.card-weather {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 8px;
}

.card-weather > div > img {
    display: block;
    margin: 16px auto 0 auto;
}
.card-weather > div > h3 {
    margin: 0;
    text-align: center;
    font-size: 14px;
}
.card-weather .pTemp {
    display: block;
    font-weight: bold;
    font-size: 20px;
    text-align: center;
    margin: 0;
}
.card-weather .pDesc {
    margin-top: 0;
    font-size: 14px;
    text-align: center;
    text-transform: capitalize;
    margin: 0 16px 32px 16px;
}



.spotlightMember {
    background-color: var(--color-gray);
    margin: 0 8px 8px 8px;
    width: calc(100% - 48px);
    border-radius: 8px;
    padding: 16px;
    display: grid;
    grid-template-columns: 80px auto;
    grid-template-rows: 32px auto auto auto;
}
.spotlightMember:first-child {
    margin-top: 8px;
}
.spotlightMember .tagLevel {
    display: none;
}

.spotlightMember .iconSpace {
    grid-area: 1 / 1 / 5 / 2;
    font-size: 56px;
    padding-top: 16px;
    text-align: center;
}
.spotlightMember .nameSpace {
    text-align: center;
    font-weight: bold;
    font-size: 18px;
}
.spotlightMember .phoneSpace,
.spotlightMember .addressSpace,
.spotlightMember .urlSpace {
    text-align: center;
    font-size: 14px;
}