@media only screen and (min-width: 700px) {
    main {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 160px auto;
    }
    #main-banner {
        grid-column: span 2;
    }

    header {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
    }
    #menu-icon {
        display: none;
    }
    #logo-header {
        justify-content: left;
        padding-left: 16px;
    }
    #logo-header-text {
        display: block;
    }

    nav {
        display:block;
        grid-row: auto;
        grid-column: auto;
        background-color: transparent;
    }
    nav ul {
        display: flex;
        gap: 8px;
        justify-content: end;
        padding-right: 16px;
        margin: 21px 0;
    }
    nav ul li a {
        background-color: transparent;
        font-size: 12px;
        padding: 0 8px 4px 8px;
    }
    nav ul li a.active, nav ul li a.active:hover {
        background-color: transparent;
        border-bottom: solid 3px var(--color-2);
    }
    nav ul li a:hover {
        background-color: transparent;
        border-bottom: solid 3px var(--color-3);
    }

    #advertisements {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: auto;
        justify-content: center;
        gap: 16px;
    }
}