@media only screen and (min-width: 700px) {
    main {
        grid-template-rows: auto auto;
    }
    nav {
        display: block;
    }
    nav > ul {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin: 0;
        padding: 0;
    }
    main section.card {
        grid-column: span 2;
        grid-row: 3;
    }
    main section.card-information {
        grid-column: span 1;
        grid-row: 3;
    }
    #bar-menu-mobile {
		display: none;
	}
}

@media only screen and (min-width: 1000px) {
    main {
        padding: 0 0 32px 0;
    }
    main, 
    nav > ul {
        max-width: 1000px;
        width: 1000px;
        margin: 0 auto;
    }
}