@media only screen and (min-width: 700px) {
    main {
        grid-template-rows: auto auto;
    }
    nav > ul {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin: 0;
        padding: 0;
    }
    main section.card {
        grid-area: 2 / 1 / 3 / 3;
    }
    main section.card-information {
        grid-area: 2 / 3 / 3 / 4;
    }
}

@media only screen and (min-width: 1000px) {
    main {
        padding: 0 0 32px 0;
    }
    main, 
    nav > ul {
        max-width: 1000px;
        width: 1000px;
        margin: 0 auto;
    }
}